*{
	outline: none;
}

body{
	background-color: #fff;
}

.bg-white{
	margin: 5% auto 0 auto;
	border-radius: 50px;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow:  50px 50px 100px #dedede, 
             -50px -50px 100px #ffffff;

	transition-duration: 0.4s;
}

#btn-update, #btn-remove{
	color: #000000;
}
#btn-remove:hover{
	color: red;
}

#btn-update:hover{
	outline: none;
	color: green;
}

#input{
	margin: auto;
	border-radius: 25px;
  	box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
    background-color: #fff;
}

.images{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: 50%;
}

#div-body{
	outline: none;
}

.mb-4{
	outline: none;
}

#card{
	margin: auto;
}

#btn-form:hover{
	color: blue;
}

#todo-update{
	margin: auto;
	text-align: center;
	border-radius: 15px;
	height: 100%;
	width: 100%;
}

button{
	outline: none;
}

#sub-todo{
	border-radius: 15%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding: 10%;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
	#div-body {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }