{% extends 'base.html' %}
{% block content %}
<div class="bg-purple-900 rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">

  <div class="mb-4">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" class="images">
    <p class="text-white text-center text-grey-darkest">{{ title }}</p>
    <div class="flex mt-4 items-center justify-center">
      <form action="/update/{{ task.id }}" method="post" class="grid">
        <div class="flex">
          <input class="text-white shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" id="input" placeholder="Add Todo" type="text" name="name" value="{{ task.name }}" />
          <button class="bg-indigo-400 bg-opacity-25 hover:bg-white hover:text-indigo-900 text-white font-bold m-6 py-2 px-4 rounded-full">
            OK
          </button>
        </div>
        </form>
    </div>
  </div>
</div>

{% endblock content %}